*.class

.idea
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!/gradle/**/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# NetBeans build, dist and local dirs
/nbproject/
/build/
/dist/
/out/
/.gradle/
/.nb-gradle/
/.nb-gradle-properties

# Eclipse configuration and build output
.project
.classpath
/.settings/
/bin/